<%- model_class = Attending -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <% ExamCode.all.each do |examcode| %>
		<th>Positive <%= examcode.name %></th>
		<th>Total <%= examcode.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @attendings.each do |attending| %>
      <tr>
        <td><%= link_to attending.name, attending_path(attending) %></td>
        <% ExamCode.all.each do |examcode| %>
			<td> <%= attending.score_cards.where(:exam_code_id => examcode.id)[0].score %></td>
			<td> <%= attending.score_cards.where(:exam_code_id => examcode.id)[0].total %></td>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @attendings %>
