<%- model_class = RequestingMd -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <% ExamCode.all.each do |examcode| %>
		<th>Positive <%= examcode.name %></th>
		<th>Total <%= examcode.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @requesting_mds.each do |requesting_md| %>
      <tr>
        <td><%= link_to requesting_md.name, requesting_md_path(requesting_md) %></td>
        <% ExamCode.all.each do |examcode| %>
			<td> <%= requesting_md.score_cards.where(:exam_code_id => examcode.id)[0].score %> </td>
			<td> <%= requesting_md.score_cards.where(:exam_code_id => examcode.id)[0].total %> </td>
		<% end %>
        <td><%=  %></td>
        <td><%=  %></td>
        <td>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @requesting_mds %>
