<%- model_class = Radiologist -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
		<% ExamCode.all.each do |examcode| %>
			<th>Positive <%= examcode.name %></th>
			<th>Total <%= examcode.name %></th>
		<% end %>
      <th><%= %></th>
    </tr>
  </thead>
  <tbody>
    <% @radiologists.each do |radiologist| %>
      <tr>
        <td><%= link_to radiologist.name, radiologist_path(radiologist) %></td>
        <% ExamCode.all.each do |examcode| %>
			<td> <%= Float(radiologist.positiveReportsByExamCode(examcode.id).length)/Float(radiologist.reports.where(:exam_code_id => examcode.id).length)*100 %>%</td>
			<td> <%= radiologist.reports.where(:exam_code_id => examcode.id).length %></td>
		<% end %>
        <td></td>
        <td><%= %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

