<%- model_class = Radiologist -%>
<div class="page-header">
  <h1><%= @radiologist.name %></h1>
</div>

<dl class="dl-horizontal">
  <% ExamCode.all.each do |examcode| %>
	<dt><strong>Total <%= examcode.name %></strong></dt>
	<dd><%= @radiologist.reports.length %></dd>
	<dt><strong>Positive <%= examcode.name %></strong></dt>
	<dd><%= @radiologist.positiveReportsByExamCode(examcode.id).length %></dd>
  <% end %>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              radiologists_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_radiologist_path(@radiologist), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              radiologist_path(@radiologist),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
